@import url(https://enhanceddiscord.com/theme_v2.css);

:root {
    --ed-logo: none;
}
.theme-dark {
	--bg: rgb(2,0,36);
	--bg: linear-gradient(16deg, rgba(2,0,36,1) 0%, rgba(88,36,136,1) 47%, rgba(0,212,255,1) 100%);
	--bg-overlay: rgba(0, 0, 0, 0.32);
	--header-primary: #85f4ff;
	--accent: #34a8cf;
	--accent-bright: #00ddff;
	--accent-back: #4f1c92a8;
	--accent-back-bright: #ae00ff;
	--channels-default: #c1c1c1;
	--icon-color: rgba(255, 255, 255, 0.75);
	--text-link: rgba(255, 0, 247, 1);
	--popup-background: #27004a;
	--popup-highlight: #3b0067;
	--unread-color: var(--accent-bright);
	--typing-height: 25px;
	--gift-button: none;
	--gif-picker: none;
	--trans02: rgba(0, 0, 0, .1);
	--trans07: rgba(110, 179, 224, .05);
	--trans10: rgba(92, 138, 208, 0.08);
	--text-normal: #e8e8e8;
	--background-mentioned: rgba(79, 28, 146, .2);
	--background-mentioned-hover: rgba(135, 94, 237, 0.2);
    --background-accent: #4f1c92a8;
}

.theme-dark .footer-3rDWdC {
     background-color: #265a90;
}

.theme-dark .keybind-KpFkfr {
	color: #fff;
}

.nowPlayingScroller-2XrVUt {
	background-color: rgba(0, 0, 0, .1);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.scroller-1JbKMe {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.channelTextArea-rNsIhG {
	background-color: rgba(110, 179, 224, .09);
	border-radius: 0;
}

.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
	background-color: var(--popup-background);
	color: var(--accent-bright);
}
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
	background-color: var(--popup-background);
	color: var(--text-normal);
}

.bodyTitle-Y0qMQz {
	color: var(--text-normal);
}
.note-3kmerW textarea {
	color: var(--text-normal);
}
.theme-dark .quickMessage-1yeL4E {
	color: var(--text-normal);
}
.theme-dark .listItemTooltip-CDcY8J {
	color: var(--text-normal);
	background-color: var(--popup-background);
}
.scroller-2FKFPG::-webkit-scrollbar {
	width: 16px;
	height: 16px;
	display: none;
}
.search-1iTphC .searchBox-2_mAlO {
    color: rgba(255, 255, 255, 0.6);
}
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng::-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng::placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
    font-size: 16px;
    padding: 8px;
    color: #fff;
}
.search-1iTphC .searchBox-2_mAlO .closeIcon-2WLZc1 {
    color: rgba(255, 255, 255, 0.8);
    width: 24px;
    height: 24px;
}
:root .css-1b86x2o-control {
	background-color: #4f1c924a;
}

:root .css-19bqh2r {
    fill: #00ddff;
	stroke: #00ddff;
}

:root .css-1o55ng5-control {
	background-color: #4f1c924a;
}
:root .css-9wh895-control {
	background-color: #4f1c924a;
}
:root .css-123uooi-menu {
	background-color: #00608af5;
}
.scroller-tlc3kG {
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(88,36,136,1) 49%, rgba(0,212,255,1) 100%);
}

/* */
.badge-2qGa_k:after {
    background-color: var(--accent-bright);
}
.mentioned-xhSam7:before {
    background-color: var(--accent-bright);
}

/* tooltip hover background color */
.theme-dark .tooltipBlack-PPG47z, .theme-light .tooltipBlack-PPG47z {
    background-color: rgba(79, 28, 146, 1);
	background: rgb(2,0,36);
	background: linear-gradient(144deg, rgba(2,0,36,.90) 0%, rgba(88,36,136,.90) 22%, rgba(0,212,255,.90) 100%);
}

/* tooltip hover pointer color */
.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK, .theme-light .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
    border-top-color: #00ddff;
}
.theme-dark .popout-38lTFE {
    background-color: #2c344c;
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,.24);
    box-shadow: 0 8px 16px rgba(0,0,0,.24);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #2e0f56;
    color: hsla(0,0%,100%,.8);
}